@using Carpooling.Models;

@model DriverViewInfoModel

@{
    ViewData["Title"] = "Driver Info";
}

@if (User.Identity?.IsAuthenticated == true)
{

    <div>
        <h2>User, @Model.Username!</h2>
        <h5>Profile Details:</h5>
        <br>
        <p><i class="fas fa-star"></i> Rating: @Model.AverageRating</p>
        <p><i class="fas fa-comments"></i> Feedbacks: @Model.Feedbacks.Count()</p>
        <p><i class="fas fa-user"></i> Capacity: @Model.Capacity</p>
        <p><i class="fas fa-car"></i> Vehicle: @Model.CarBrand,  @Model.CarModel</p>
        <p><i class="fas fa-paint-brush"></i> Colour: @Model.CarColor</p>
        <p><i class="fas fa-id-badge"></i> Plate number: @Model.Registration</p>

        @if (Model.CanSmoke == true)
        {
            <p><i class="fas fa-user-tag"></i> Can smoke: Yes</p>
        }
        else
        {
            <p><i class="fas fa-user-tag"></i> Can smoke: No</p>
        }
        <a asp-controller="Home" asp-action="Index" class="nav">Go back</a>
    </div>
}
else
{
    <a asp-page="/Identity/Account/Login" class="nav">Login</a>
}


