@using CarPooling.Data.Models.ViewModels;
@model IEnumerable<TripRequestViewResponseModel>

@{
    ViewData["Title"] = "My Requests";
}

@{
    await Html.RenderPartialAsync("_MenuPartial");
}


@if (Model.Count() == 0)
{
    <br>
    <h3> You currently have no request(s) yet.</h3>

}

else
{
    <div>
        <h2>Trip requests:</h2>
        @foreach (var request in @Model)
        {
            <div class="travel-container">
                <br>
                <p><i class="fas fa-user"></i> <span class="property">Passenger :</span> @request.PassengerUsername</p>
                <p><i class="fas fa-map-marker-alt"></i> <span class="property">Departure :</span> @request.StartLocationDetails</p>
                <p><i class="fas fa-flag"></i> <span class="property">Destination :</span> @request.EndLocationDetails</p>
                <p><i class="fas fa-calendar"></i> <span class="property">Departure Time :</span> @request.DepartureTime</p>
                <p><i class="fas fa-info-circle"></i> <span class="property">Status :</span> @request.Status.ToString()</p>
            </div>
            <div>
                <form asp-controller="Personal" asp-action="EditTripRequest" method="post">
                    <input type="hidden" name="tripRequestId" value="@request.Id">
                    <button type="submit" name="response" value="approve">Approve</button>
                </form>
            </div>
            <div>
                <form asp-controller="Personal" asp-action="EditTripRequest" method="post">
                    <input type="hidden" name="tripRequestId" value="@request.Id">
                    <button type="submit" name="response" value="decline">Decline</button>
                </form>
                <br>
            </div>

            <br>
            <br>
        }
    </div>
}
<br>
<a asp-action="Menu" asp-controller="Personal" class="btn btn-secondary">Go Back</a>


