
@using Carpooling.Service.Dto_s.Responses;
@model List<TravelResponse>

@{
    ViewData["Title"] = "My Travels";
}


@if (Model is null || Model.Count() == 0)
{
    <br>
    <p> You currently have no trips yet.  </p>

}
else
{
    <div>
        @foreach (var travel in @Model)
        {
            <div class="travel-container">
                <h2>Travel Details</h2>
                <br>
                <p><i class="fas fa-map-marker-alt"></i> <span class="property">Start city:</span> @travel.StartLocationName</p>
           @*     <p><i class="fas fa-map-marker-alt"></i> <span class="property">Start city:</span> @travel.StartLocation.City</p>
                <p><i class="fas fa-map-marker-alt"></i> <span class="property">Start address:</span> @travel.StartLocation.Details</p>*@
                <p><i class="fas fa-flag"></i> <span class="property">Destination city:</span> @travel.DestinationName</p>
                @*<p><i class="fas fa-flag"></i> <span class="property">Destination city:</span> @travel.EndLocation.City</p>*@
              @*  <p><i class="fas fa-flag"></i> <span class="property">Destination address:</span> @travel.EndLocation.Details</p>*@
                <p><i class="fas fa-calendar"></i> <span class="property">Departure Time:</span> @travel.DepartureTime</p>
                <p><i class="fas fa-clock"></i> <span class="property">Arrival Time:</span> @travel.ArrivalTime</p>
                <p><i class="fas fa-chair"></i> <span class="property">Available Seats:</span> @travel.AvailableSeats</p>
                <p><i class="fas fa-check-circle"></i> <span class="property">Is Complete:</span> @(travel.IsComplete ? "Yes" : "No")</p>
                <p><i class="fas fa-car"></i> <span class="property">Car Registration:</span> @travel.CarRegistration</p>
            </div>
            <br>
        }
    </div>
}
<br>
<a asp-controller="Personal" asp-action="Menu" class="nav">Go back</a>