@using CarPooling.Data.Models;
@using Carpooling.Models;
@inject Microsoft.AspNetCore.Identity.UserManager<CarPooling.Data.Models.User> UserManager
@model IEnumerable<User>
@{
    ViewData["Title"] = "List Users";
}
<h2>List Users</h2>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>
                        @if (user.IsBlocked == false)
                        {
                            @if (!await UserManager.IsInRoleAsync(user, "Administrator"))
                            {
                                <a asp-controller="Admin" asp-action="ChangeRoleToAdministrator" asp-route-id="@user.Id">Change to Administrator |</a>
                            }
                        }
                        @if (!await UserManager.IsInRoleAsync(user, "Administrator"))
                        {
                            @if (user.IsBlocked == true)
                            {
                                <a asp-controller="Admin" asp-action="Unblock" asp-route-id="@user.Id">Unblock User</a>
                            }
                            else
                            {
                                <a asp-controller="Admin" asp-action="Block" asp-route-id="@user.Id">Block User</a>
                            }
                        }
                        else
                        {
                            <p>You cannot do any actions on other admins!</p>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No users available.</p>
}
