@using CarPooling.Data.Models
@model List<Car>

@{
    ViewData["Title"] = "My Vehicles";
}

@{
    await Html.RenderPartialAsync("_MenuPartial");
}


<br>
@if (Model.Count == 0)
{
    <h3>You have no cars registered.</h3>
}
else
{
    <h2>My Cars</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Registration</th>
                <th>Total Seats</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Color</th>
                <th>Can Smoke</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in Model)
            {
                <tr>
                    <td>@car.Registration</td>
                    <td>@car.TotalSeats</td>
                    <td>@car.Brand</td>
                    <td>@car.Model</td>
                    <td>@car.Color</td>
                    <td>@(car.CanSmoke ? "Yes" : "No")</td>
                </tr>
            }
        </tbody>
    </table>
}
<br>
<a asp-action="Menu" asp-controller="Personal" class="btn btn-secondary">Go Back</a>
