
@using Carpooling.Models;
@model HomeViewModel

@{
    ViewData["Title"] = "Home";
}



<div>

    <h1>Total Travel Count: @Model.TotalTravelCount</h1>
    <h1>Total Users Count: @Model.TotalUsersCount</h1>
    <br>

    <h2 class="my-section-title">Top 10 Organizer</h2>


    @foreach (var user in Model.TopTravelOrganizers)
    {
        <div class="row">
            <div>
                @if (User.Identity?.IsAuthenticated == true)
                {
                 @*   <a class="row clickable-row" asp-page="/Personal/DriverInfo" asp-route-id="@user.Id">
                        <div class="cell">@user.UserName</div>
                    </a>*@
                    <a class="row clickable-row" href="@Url.Action("DriverInfo", "Personal" , new { id = @user.Id })">
                        <div class="cell">@user.UserName</div>
                    </a>

                }
                else
                {
               @*     <a class="row clickable-row" href="/Identity/Account/Login">
                        <div class="cell">@user.UserName</div>
                    </a>*@
                    <a class="row clickable-row" href="/Identity/Account/Login">
                        <div class="cell">@user.UserName</div>
                    </a>
                }
            </div>
        </div>
    }



    <h2 class="my-section-title">10 Passengers</h2>

    @foreach (var user in Model.TopPassengers)
    {
        <div class="row">
            <div>
                @*<a class="row clickable-row" href="@Url.Action("Details", "Posts", new { id = post.PostId })">*@
                <div class="cell">@user.UserName</div>
                @*</a>*@
            </div>
        </div>
    }

</div>
































@*@using Carpooling.Models;
@model HomeViewModel
@{
    ViewData["Title"] = "Index";
}

@*<div class="text-center">
    <h1 class="display-10">Welcome</h1>
    <p>This is a Test Paragraph</a>.</p>
</div>*@


@*<div>
    <table>
        <tr>
            <th>User</th>
            <th>Rating</th>
        </tr>

        @foreach (var user in Model.)
        {
            @if (user.AverageRating >= 4.5m)
            {
                <tr>
                    <td>
                        @user.Username
                    </td>
                    <td>
                        @user.AverageRating
                    </td>
                </tr>

            }
        }

    </table>

</div>*@


